@font-face {
    font-family: Founders;
    src: url(./assets/Founders_Grotesk/FoundersGrotesk-Medium.otf);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #EDE8F5; /* Light background color */ 
    color: rgb(39, 41, 59);
    font-family:'Founders', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.95rem;
}
#nav-left{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
}

#nav-right{
    width: 50%;
    padding-right: 2rem;
}
#ul-left, #ul-right{
    height: 100%;
    list-style: none;
    display:  flex;
    flex-direction: row;
}
form{
    width: 100%;
    display: flex;
    flex-direction: row;
}
li{
    padding-right: 30px;
}
#ul-right{
    justify-content: flex-end;
}
a{
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    color: rgb(39, 41, 59);
}
.nechel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    margin-top: 10rem;
}
.nenechel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    margin-top: 10rem;
}
.chel{
    height: 30rem;
    width: auto;
    border: 3px solid rgb(39, 41, 59);
    border-radius: 25%;
}
.schelom{
    left: 6rem;
    top: 30%;
    width: 35rem;
    height: 25rem;
    font-size: 1.5rem;
    border-radius: 12%;

}
h3{
    text-align: center;
    font-size: 3rem;
}
#schelom p{
    text-align: justify;
    font-weight: 400;
    font-size: 1.7rem;
}
.featone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}